# Config file for automatic testing at travis-ci.org

language: python

python:
  - "2.7"
  - "pypy"


install: python setup.py install

# command to run tests, e.g. python setup.py test
script: python setup.py test
