# Config file for automatic testing at travis-ci.org

language: python

python:
  - "2.7"
  - "3.4"
  - "pypy"

env:
  - DJANGO_VERSION=1.8.7
  - DJANGO_VERSION=1.8.0
  - DJANGO_VERSION=1.9rc2

install:
 - pip install coveralls
 - pip install -q Django==$DJANGO_VERSION
 - python setup.py -q install

# command to run tests, e.g. python setup.py test
script:
 - coverage run --source=urljects setup.py test
 - coverage report -m
after_script:
  coveralls
